body{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 22px;
    
}

.catName{
    border-radius: 12px;
    color: aliceblue;
    font-size: 20px;
    width: 254px;
    height: 350px;
    text-align: center;
    background-color: brown;
    
}
.catImg{
    margin: 5px;
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    box-shadow:5px 5px 5px 5px rgba(245, 222, 179, 0.342);
}
.weight{
    padding: 4px;
}
.country{
    padding: 4px;
}
.id{
    padding: 4px;
}
